---
interface Props {
  id?: string;
  class?: string;
  trackSection?: string;
}

const { id, class: className, trackSection } = Astro.props;
---

<section
  id={id}
  class:list={['py-10 lg:py-16', className]}
  data-track-section={trackSection || id}
>
  <slot />
</section>
